<h1>User seems to be infected with Covid</h1>


    <h1>How quickly can someone infect you with Covid?</h1>
    <p>Researchers estimate that people who get infected with the coronavirus can 
    spread it to others 2 to 3 days before symptoms start and are most contagious 1 to 2 days before they feel sick.</p>

    <h1>Why do some people not get COVID?</h1>
    <p>It's possible to have genetic features that make you resistant to COVID infection. Researchers have noted this before with viral 
    infections, like HIV. But there's still more research to be done in this area. Given the high rates of COVID infection, it's likely 
    that there aren't many people who are immune.</p>