<h1>User seems to be subjected to some infection</h1>

<h1>What makes a person more susceptible to infection?</h1>
   
   <p> A susceptible person is someone who is not vaccinated or otherwise immune, or a person with 
    a weakened immune system who has a way for the germs to enter the body. For an infection to occur,
     germs must enter a susceptible person's body and invade tissues, multiply, and cause a reaction.
    <p>